*{
    margin: 0;
    border: 0;
}

/*MAPA*/
 #mapa-leaflet {
    margin-top: 2vh;
     width: 100%;
     height: clamp(260px, 50vh, 520px);
}

.leaflet-tile {
    outline: 1px solid transparent;
}

/*Barra navegacion*/
nav{
    background-color:#fffafb ;
}

.nav-item-bike{
    border-right: #0d1821 solid 1px;
    padding-right: 2vh;
}
.nav-item-car{
    border-left: #0d1821 solid 1px;
    padding-left: 1.5vh;
}


.linkPantalla{
    display: flex;
    color: #0d1821;
    text-decoration: none;
    align-items: center;
}

/*MAIN*/
/*Inicio*/
main{
  background-color: #344966;  
}

#panelInicio{
    background-color: #fffafb;
    width: 80%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#panelInicio h1{
    color: black;
}

#panelInicio span{
    color: #58A4B0;
}

#panelInicio hr{
    border-top: 2px solid #002faf;
}

#panelInicio p{
    padding-top: 1vh;
}

.inicio{ /*clase para estilar la ventana central de inicio, hay que quitarla en las demás*/
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../multimedia/fondo.png");
    background-size: cover;
    padding-bottom: 20vh;
}

/*barra lateral*/
aside{
    background-color: #344966;
    color: #0d1821;
}

aside div{
    background-color: #fffafb;
    border-radius: 10px;
    height: 95vh;
    padding: 5%;
}

#menuBicicletas{
    height: clamp(260px, 50vh, 520px);
}

#modalEstacion {
    padding-top: 10%;
}